# Set default behavior to automatically normalize line endings.
* text=auto

# Force text files to use LF line endings
*.cs    text eol=lf
*.shader text eol=lf
*.meta text eol=lf
*.prefab text eol=lf

# Binary files (do not change line endings)
*.png binary
*.jpg binary
*.dll binary

* text=auto
*.mat text eol=lf
*.unity text eol=lf
*.asset text eol=lf
*.txt text eol=lf
*.dwlt text eol=lf
